

*{
    margin:0;
    padding:0;
    box-sizing: border-box;

}

body{
    font-family: Arial, Helvetica, sans-serif;
    background:#f4f6fb;
    line-height: 1.5;
}

.container{
    display:flex;
    min-height: 100vh;

}

.sidebar{
    width:250px;
    background:#172c5e;
    color: white;
    padding: 30px 20px ; 

}
.sidebar li{
    margin:20px 0; 
    cursor: pointer;
    transition: color 0.3s ease;

}
.sidebar ul {
    list-style: none;
    margin-top: 20px;
}
.main-content{
    flex: 1;
}
.navbar{
    height:80px;
    background:white;
    display: flex; 
    align-items: center;
    padding: 0 30px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
    justify-content: space-between;

}
.dashboard{
    padding: 30px;
}
.sidebar h2{
    margin-bottom: 40px;
}

.navbar-right{
    display: flex;
    align-items: center;
    gap: 20px;
}
.navbar-right input{
    width: 200px;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #ccc;

}
.summary-cards{
    display:flex;
    gap: 20px;
    margin-top: 30px;
}
.card{
    background: white;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.08 );
    flex: 1;
    flex-direction: column;
}
.card h3{
    color: #666;
    font-size: 16px;
}
.card p{
    font-size: 28px;
    font-weight: bold;
    margin-top: 10px;
}
.sidebar a {
    color:white;
    text-decoration:none;
    display: block;
}
.sidebar a:hover{
    color:9ec5ff;
}
.income-form{
    background: white;
    max-width: 600px;
    margin: top 30px;
    padding: 30px;
    border-radius: 20px;
    box-shadow:0 2px 8px rgba(0,0,0,0.08 );
}
.income-form label {
    display: block;
    margin-top: 8px;
    margin-bottom: 8px;
    font-weight:bold;

}
.income-form input,
.income-form textarea{
    width: 100 px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-family: inherit;
}
.income-form textarea{
    height: 100px; 
    padding: 12px 20px;
    border:none;
    border-radius: 10px;
    background: #172c5e;
    color: white;
    cursor: pointer;
}

.imcome-form button:hover {
    background: #294785;
}