<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My budgeting </title>

    <link rel="stylesheet" href="{{ url_for('static' , filename='css/style.css')}}">
</head>
<body>
    <div class = "container">
    <nav class=" sidebar" > 
    <h2>BudgetFlow 🤍</h2>
        <ul>
            <li><a href= "/">Dashboard</a></li>
            <li><a href="/add-income">Add Income</a></li>
            <li><a href= "#">Add Expenses</a></li>
            <li><a href= "/">Transactions</a></li>
            <li><a href= "/">Budgets</a></li>
            <li><a href= "#">Savings</a></li>
            <li><a href= "#">Ai chat</a></li>
            <li><a href= "#">Settings</a></li>
        </ul>

     </nav>
     <main class = "main-content">
        <header class = "navbar">
            <h1>Dashboard</h1>
            <div class = "navbar-right">
                <input type = "search" placeholder="Search.. ">
                <span>🔔</span>
                <span> 👤</span>
            </div>
        </header>
        <section class = "dashboard">
            <h2>Welcome Back </h2>
            <p> Here's your financial overview, </p>
            <div class="summary-cards">
                <div class="card">
                    <h3>Total Balance</h3>
                    <p>£0.00</p>
                </div>
                <div class="card">
                    <h3>Income</h3>
                    <p>£0.00</p>
                </div>
                <div class="card">
                    <h3>Expenses</h3>
                    <p>£0.00</p>
                </div>
            
                <div class="card">
                    <h3>Monthly Budget</h3>
                    <p>£0.00</p>
                </div>
        </div>
        
            
        </section>
    
     </main>
      </div>
    <script src = "{{ url_for('static' , filename='js/script.js')}}"></script>
</body>
</html>